#output{
  color: black;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

body {
  background-color: red;
}

html {
  background-color: green;
  
}

.container {
  background-color: green;
}

.radio {
  background-color: #C0ABAB;
  width: 250px;
}

.well {
  background-color: green;
  font-weight: 300;
}

p {
  font-weight: 300;
}
